<h2>My Villains</h2>

<div>
  <label for="new-hero">Villain name: </label>
  <input id="new-hero" #villainName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(villainName.value); villainName.value=''">
    Add villain
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let villain of villains">
    <a routerLink="/detail/{{villain.id}}">
      <span class="badge">{{villain.id}}</span> {{villain.name}}
    </a>
    <button type="button" class="delete" title="delete villain"
      (click)="delete(villain)">x</button>
  </li>
</ul>