 
  <div *ngIf="villain">
    <h2>{{villain.name | uppercase}} Details</h2>
    <div><span>id: </span>{{villain.id}}</div>
    <div>
      <label for="hero-name">Villain name: </label>
      <input id="hero-name" [(ngModel)]="villain.name" placeholder="Hero name"/>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
  </div>

  <!-- <div *ngIf="villain" >
    <h2> {{villain.name | uppercase}} Details </h2>
    <div> id: {{villain.id}} </div>
    <br>
    
    <div>
      <label for="villain-name"> Villain name: </label>
      <input id="villain-name" [(ngModel)]="villain.name" placeholder="name">
    </div>
  </div> -->